<!DOCTYPE html>
<html>
<head>
    <title>vex Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type= "text/javascript" src="/javascripts/jquery-3.3.1.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

</head>
<body>
<header>
    <div class="navbar navbar-default navbar-fixed-top text-uppercase">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">vex Blog</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            {{#if user}}
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/{{user.fullName}}/details" name="test">Welcome({{user.fullName}})</a></li>
                        <li><a href="/article/create">New Article</a></li>
                        <li><a href="/user/articles/{{user.id}}">My Articles</a></li>
                        <li><a href="/user/logout">Logout</a></li>
                    </ul>
                </div>
            {{/if}}
            {{#unless user}}
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/user/register">Register</a></li>
                        <li><a href="/user/login">Login</a></li>
                    </ul>
                </div>
            {{/unless}}
        </div>
    </div>
</header>
{{{body}}}
</body>
<footer>
    <div class="container modal-footer">
        <p>&copy; 2018 - vex Foundation</p>
    </div>
</footer>
</html>
